body {
  background: #333;
  color: #333333;
  margin-top: 5rem;
  padding-top: 20px;
}

h1, h2, h3, h4, h5, h6, legend, label, p, div, br {
  color: #fff;
}

ul {
  margin: 0;
}

.commentProfile {
  position:absolute;
  right:30px;
  top:10px;
}

.brLine {
  color: #fff;
  margin-bottom: 0px;
}

.navImg {
  height: 40px;
  width: 40px;
}

.redBtn {
  color:red;
  border-color:red;
}

.redBtn:hover {
  background-color: red;
  border-color: red;
  color:black;
}

.box-pos {
  position:fixed;
  margin-left:65vw;
  left:0;
  width: 250px;
  z-index: 5;
}


.float-right {
  float: right;
}
.bg-steel {
  background-color: #1a1a1a;
}

.site-header {
  position: fixed;
  z-index: 10;
}

.site-header .navbar-nav .nav-link {
  color: #fff;
}

.site-header .navbar-nav .nav-link:hover {
  color: #ccc;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.content-section {
  background: #222;
  padding: 10px 20px;
  border: 1px solid #111;
  border-radius: 3px;
  margin-bottom: 20px;
}

.article-title {
  color: #fff;
}

a.article-title:hover {
  color: #428bca;
  text-decoration: none;
}

.article-content {
  white-space: pre-line;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #444
}

.article-metadata a:hover {
  color: #333;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
  text-align: left;
}

.flex-container {
  display: flex;
}

.container {
  position: relative;
}
.content {
  position: absolute;
  top: 20px;
  margin: -25px 0 0 -25px; /* Apply negative top and left margins to truly center the element */
}

#content {
  width: calc(100vw - 350px);
  height: calc(100vh - 130px);
}

html {
  overflow-x: hidden;
  overflow-y: hidden;
}

.message {
  position: fixed;
  top: 100px;
  left: 40%;
  width: fit-content;
  margin: -25px 0 0 -25px; /* Apply negative top and left margins to truly center the element */
  z-index: 15;
  opacity: 0.9;
}

.sidenav_username {
  padding-left: 8px;
  padding-right: 8px;
}

/* The side navigation menu */
.sidenav {
  height: 100%; /* 100% Full-height */
  width: 300px; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #111; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */

  z-index: 1;
  padding-top: 60px;
}

.transition {
  transition: 0.5s;
}

.sidenav h1, h2, h3 {
  padding: 32px 32px 8px 32px;
  color: #f1f1f1;
  text-align: center;
}

.sidenav .add_friend {
  padding: 8px 32px 32px 32px;
  text-align: center;
}

/* The navigation menu links */
.sidenav .row {
  padding: 8px 32px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}


/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}



.fill-page {
  height: 85vh;
  
}

.content-container {
  margin-left: 25px;
  width: 100%;
}


.msgBox {
  position: absolute;
  width: 100%;
  bottom: 0;
}

#id_text {
width: calc(100% - 30px);
}

.message_container {
  overflow-y: scroll;
  height: calc(100% - 210px);
  background-color: #1b1b1b;
  border-radius: 20px;
}

.message-div {
  margin: 10px;
}

.chatbox-user {
  margin-left: calc(50% - 50px);
  vertical-align: top;
}

#div_id_text {
  height: 30px;
  width: calc(100% - 50px);
}


#div_id_file {
  width: 210px;
}


#div_id_text .dep-container {
  width: 100%;
}

#div_id_text svg {
  position: absolute;
  width: 30px;
  height: 30px;
}

.dep-panel {
  left: calc(100% - 400px) !important;
  top: calc(100% - 630px) !important;
}